body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 10px;
    font-size: 15px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    margin: 10px;
    display: flex;
    font-size: 30px;
    border-radius: 10px;
    background-color: white;
}

button:active {
    background-color: black;
    color: white;
}

#codeLanguageSelector {
    display: flex;
    margin-top: -20px;
    justify-content: space-evenly;
    background-color: aquamarine;
    max-width: 100%;
}

.languageSelectorButton {
  z-index: 1;
  padding-top: 20px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}

.languageSelectorButton.active {
  background-color: white;
  color: black;
}

.showOptions {
  display: flex;
  justify-content: end;
  position: absolute;
  background-color: transparent;
  margin: 21px 0 0 0;
  height: fit-content;
  width: 100%;
}

.showOptionsButton {
  z-index: 1;
  display: flex;
  position: relative;
  margin: 0px;
  padding: 0;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  height: 54.4px;
  width: 54.4px;
  transform: rotate(90deg);
  border: none;
  border-radius: 0;
  color: rgb(87, 87, 87);
  background-color: transparent;
}

.showOptionsButton:active {
  color: black;
  background-color: transparent;
  font-size: 50px;
  transition: font-size 100ms;
}

.darkModeDiv {
  z-index: 1;
  display: flex;
  position: absolute;
  justify-content: start;
  margin: 0;
  height: fit-content;
  width: 100%;
}

.darkModeButton {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  height: 50px;
  width: 50px;
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
}

.select-menu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin: 20px auto 0px auto;
  padding: 0;
}

.select-menu .select-btn {
  display: flex;
  height: fit-content;
  background-color: aquamarine;
  padding: 10px;
  font-size: 25px;
  font-weight: 600;
  border-radius: 15px;
  align-items: center;
  cursor: pointer;
  justify-content: space-around;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.select-btn {
  z-index: 1;
  position: relative;
  width: fit-content;
  margin: 0 50px 0 50px;
}

.select-btn i {
  font-size: 40px;
  transition: 0.3s;
}

.select-menu.active .select-btn i {
  transform: rotate(180deg);
}

.select-menu .options {
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 2;
}

.select-menu.active .options {
  display: block;
}

.options {
  position: absolute;
  top: 55px;
  width: fit-content;
}

.options .option {
  display: flex;
  height: 55px;
  cursor: pointer;
  padding: 0 15px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  align-items: center;
  background-color: white;
}

.options .option:hover {
  background-color: aquamarine;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.option .option-text {
  font-size: 20px;
  color: black;
}

.bothAreaLR:not(.active) {
    margin: 0;
    display: flex;
    position: relative;
    flex-direction: row;
    background-color: white;
    height: fit-content;
}

.bothAreaLR.active {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0;
  background-color: white;
  height: fit-content;
  width: 100%;
  max-width: 100% !important;
}

.bothAreaRL:not(.active) {
  margin: 0;
  display: flex;
  position: relative;
  flex-direction: row;
  background-color: white;
  height: fit-content;
}

.bothAreaRL.active {
display: flex;
position: relative;
flex-direction: column-reverse;
margin: 0;
background-color: white;
height: fit-content;
width: 100%;
max-width: 100% !important;
}

.copyText {
  z-index: 1;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: gray;
  border: none;
  border-radius: 10px;
  font-size: 10px;
  margin: 20px;
  height: 40px;
  width: 40px;
}

.copyText:active {
  background-color: transparent;
}

.hljs {
  background: rgb(0, 0, 0);
}

.codeAreaLeftContainer:not(.active) {
  display: flex;
  position: relative;
  height: 100%;
  width: 50vw;
  /*background-color: bisque;*/
}

.codeAreaLeftContainer.active {
  display: flex;
  position: relative;
  height: 100%;
  width: auto;
  /*background-color: bisque;*/
}

.codeAreaLeft {
    display: flex;
    position: relative;
    background-color: aquamarine;
    margin: 20px;
    border-radius: 15px;
    height: fit-content;
    width: 100%;
    max-width: calc(100% - 40px);
}

.codeAreaRightContainer:not(.active) {
  display: flex;
  position: relative;
  height: 100%;
  width: 50vw;
  /*background-color: bisque;*/
}

.codeAreaRightContainer.active {
  display: flex;
  position: relative;
  height: 100%;
  width: auto;
  /*background-color: bisque;*/
}

.codeAreaRight {
    display: flex;
    position: relative;
    background-color: aquamarine;
    margin: 20px;
    border-radius: 15px;
    height: fit-content;
    width: 100%;
    max-width: calc(100% - 40px);
}

.codePreDisplay {
  display: flex;
  position: relative;
  justify-content: end;
  margin: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.codeDisplay {
  display: flex;
  position: relative;
  margin: 15px;
  border-radius: 15px;
  height: fit-content;
  width: 100%;
  max-width: calc(100% - 30px);
  font-size: 13px;
}

.codeDisplay::-webkit-scrollbar {
  display: block;
  border-radius: 15px;
  width: 5px;
  background-color: white;
}

.codeDisplay::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 15px;
  height: 10px;
}

.codeDisplay::-webkit-scrollbar-thumb:hover {
  cursor: grab;
}

.codeDisplay::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

.codeDisplay::-webkit-scrollbar-track {
  background-color: black;
  border-radius: 15px;
}

.explanationAreaRightContainer:not(.active) {
  display: flex;
  height: fit-content;
  width: 50vw;
  /*background-color: blanchedalmond;*/
}

.explanationAreaRightContainer.active {
  display: flex;
  height: fit-content;
  width: 100%;
  padding: 0;
  /*background-color: blanchedalmond;*/
}

.explanationAreaRight {
  display: flex;
  margin: 20px;
  background-color: white;
  height: fit-content;
  width: 100%;
}

.explanationAreaLeftContainer:not(.active) {
  display: flex;
  height: fit-content;
  width: 50vw;
  /*background-color: blanchedalmond;*/
}

.explanationAreaLeftContainer.active {
  display: flex;
  height: fit-content;
  width: 100%;
  padding: 0;
  /*background-color: blanchedalmond;*/
}

.explanationAreaLeft {
  display: flex;
  margin: 20px;
  background-color: white;
  height: fit-content;
  width: 100%;
}

#htmlExplanationCode {
  position: relative;
  display: block;
  background-color: red;
}

#cssExplanationCode {
  position: relative;
  display: none;
  background-color: white;
}

#javascriptExplanationCode {
  position: relative;
  display: none;
  background-color: white;
}

#csExplanationCode {
  position: relative;
  display: none;
  background-color: white;
}

#pythonExplanationCode {
  position: relative;
  display: none;
  background-color: white;
}







  /*BIN
textarea {
    display: flex;
    margin: 15px;
    background-color: black;    
    color: white;
    font-size: 18px;
    height: fit-content;
    width: 100%;
    max-height: 1000px;
    border: 0;
    border-radius: 15px;
    text-wrap: nowrap;
    outline: none;
    resize: none;
    /*overflow: hidden;
  }

  textarea::-webkit-scrollbar {
      display: block;
      border-radius: 15px;
      width: 20px;
      background-color: white;
  }
  
  textarea::-webkit-scrollbar-thumb {
      background-color: white;
      border-radius: 15px;
      height: 10px;
  }
  
  textarea::-webkit-scrollbar-thumb:hover {
      cursor: grab;
  }
  
  textarea::-webkit-scrollbar-thumb:active {
      cursor: grabbing;
  }
  
  textarea::-webkit-scrollbar-track {
      background-color: black;
      border-radius: 15px;
  }
  */