* {
    margin: 0;
    padding: 0;
}

body {
    background-image: none;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.pageTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 20px 0;
    font-size: 2.2rem;
    width: 100%;
    height: fit-content;
    color: white;
}

.pageTitleText {
    background-color: rgb(26, 26, 26);
    border-radius: 0 0 10px 10px;
    padding: 10px;
}

.codeProjectArea {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
}

/*.codeProjectContainer {
    display: grid;
    gap: 1vw;
    grid-template-columns: repeat(3, 375px);
    grid-template-rows: repeat(3, 375px);
    padding: 30px 0 0 0;
}*/

.codeProjectContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    width: 1200px;
}

.codeProject {
    position: relative;
    display: flex;
    height: 340px;
    width: 340px;
    margin: 10px;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 40px;
    background-image: linear-gradient(to bottom right, rgb(246,210,98), rgb(239,167,64));
}

.projectTitle {
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    /*font-size: calc(40rem / 16);*/
    font-size:42px;
    font-weight: 600;
    padding: 10px 0 10px 0;
    border-radius: 1.3rem 1.3rem 0 0;
}

.projectP {
    margin: 0 18px 0 18px;
    color: white;
}

a.projectP {
    color: rgb(224, 255, 254);
}

.projectDescription {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(255, 255, 255, 0.4);
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.projectDescription p {
    margin: 0 30px 0 30px;
}

.languagePercentage {
    display: flex;
    height: 32px;
    width: 90%;
    margin: 10px 0 0 0;
}

.javascriptPercentage, .htmlPercentage, .cssPercentage, .pythonPercentage, .cSharpPercentage {
    display: flex;
    height: 100%;
    font-size: 13px;
    font-weight: 600;
    align-items: center;
    padding: 0 10px 0 10px;
}

.javascriptPercentage {
    background-color: rgb(241, 224, 90);
}

.htmlPercentage {
    background-color: rgb(227, 76, 38);
}

.cssPercentage {
    background-color: rgb(86, 61, 124);
}

.pythonPercentage {
    background-color: rgb(72, 116, 162);
}

.cSharpPercentage {
    background-color: rgb(68, 131, 35);
}

.projectImage {
    position: absolute;
    display: flex;
    height: 27.1rem;
    width: 27.1rem;
    border-radius: 1.3rem;
}

.projectLinks {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
    /*font-size: calc(28rem / 16);*/
    font-size: 25px;
    border-radius: 0 0 1.3rem 1.3rem;
}

.githubLink, .websiteLink, .githubLink a, .websiteLink a {
    margin: 0.4rem;
    color: black;
    text-decoration: underline;
    font-weight: 600;
}

.projectLinksImage {
    height: 50px;
}

@media screen and (max-width: 350px) {
    .codeProject {
        height: 250px;
        width: 250px;
    }

    .projectTitle {
        font-size: 20px;
    }

    .projectDescription {
        font-size: 14px;
    }

    .languagePercentage {
        display: flex;
        height: 21px;
        width: 90%;
        margin: 2px 0 0 0;
    }
    
    .javascriptPercentage, .htmlPercentage, .cssPercentage, .pythonPercentage, .cSharpPercentage {
        font-size: 9px;
    }

    .projectLinks {
        font-size: 18px;
    }

    .projectLinksImage {
        height: 25px;
        margin: 0 5px 0 5px;
    }
}